# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# LaTeX intermediate files
presentation/*.aux
presentation/*.nav
presentation/*.out
presentation/*.snm
presentation/*.synctex.gz
lecture/*.toc
lecture/*.aux
lecture/*.nav
lecture/*.out
lecture/*.snm
lecture/*.synctex.gz
lecture/*.toc

# Emacs temp files
*~

# Mac-specific files
.DS_Store

# iPython checkpoints
.ipynb_checkpoints

# Exercise output
exercises/all_chromosomes.pdf
exercises/example.png
exercises/activity.pdf
exercises/ex03_fragments
exercises/ex03_ANIb/
exercises/ex03_ANIm/
exercises/ex03_TETRA/
exercises/whole_genome_alignment/wga_output/
exercises/example1.pdf
exercises/example1.png
exercises/example2.pdf
exercises/example2.png
exercises/predict_CDS/data/predicted*
exercises/mcl_orthologues/data/*.crunch
exercises/mcl_orthologues/data/all-vs-all.abc
exercises/mcl_orthologues/data/out.seq.mci.I60
exercises/mcl_orthologues/data/seq.*
exercises/i-ADHoRe/gd_output/
exercises/i-ADHoRe/genome_lists/
exercises/i-ADHoRe/i-ADHoRe_config.ini
exercises/i-ADHoRe/rbbh_input.tab
exercises/i-ADHoRe/i-ADHoRe_activity/

# Don't give away shinyapps.io secrets
shiny/nucleotide_frequencies/shinyapps